* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first-container {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 8px 10%;
  background: rgba(22, 22, 22, 0.945);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: whitesmoke;
  font-size: 2em;
  font-weight: 400;
  transition: 0.3s ease;
}

span {
  color: orangered;
  font-size: 1.3em;
}

.navbar a {
  font-size: 1.2em;
  color: #ffff;
  font-weight: 300;
  margin: 0 25px;
  border-bottom: 1px solid transparent;
  border-radius: 3px;
  transition: 0.3s ease;
}

.menu {
  color: #fff;
  font-size: 20px;
  display: none;
}

.navbar a:hover,
.navbar a.port {
  color: orangered;
  border-bottom: 3px solid orangered;
  cursor: pointer;
}

.contact {
  background-color: #fff;
  padding: 4px 23px;
  border-radius: 9px;
  border: 2px solid transparent;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 0.5px;
  transition: 0.3s ease;
}

.contact:hover {
  cursor: pointer;
  background-color: orangered;
  box-shadow: 0 0 30px orangered;
  color: #fff;
}

.home {
  height: 100vh;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  gap: 8em;
  padding-top: 80px;
}

.home-info {
  min-width: 550px;
  padding-left: 40px;
}

.home-info h2 {
  font-size: 1.8em;
}

.home-info h1 {
  font-size: 2.1em;
  line-height: 1;
}

.home-info p {
  font-size: 1.2em;
  margin: 20px 0 30px;
}

.button {
  width: 300px;
  display: flex;
  gap: 1.5em;
}

.btn-1 {
  padding: 6px 15px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 550;
  background-color: rgb(79, 10, 145);
  border: 2px solid transparent;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-1:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.img{
  padding-right: 50px;
}

.img img {
  border-radius: 50%;
  height: 360px;
  margin-top: 10%;
  box-shadow: 10px 10px 500px #860303;
  border: black 2px solid;
}

/* // second page */

.section-2 {
  height: 100vh;
  width: 100%;
  background-image: url(./image/page\ 2\ background.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.about-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background-color: rgba(255,255,255,0.5);
  padding: 200px;
}

.img-2 img {
  width: 300px;
  height: auto;
  border-radius: 15%;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);

}

.about-text {
  max-width: 600px;
}

.about-text h2.about{
  font-size: 2em;
  font-weight: 700;
  color: #222;
  margin-bottom: 15px;
}

.about-text p{
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
}

/* // .frist-container media query */

@media screen and (max-width: 767px) {
  .menu {
    display: inline-block;
    cursor: pointer;
  }

  .navbar {
    display: none;
  }

  .contact {
    display: none;
  }

  .home {
    flex-direction: column-reverse;
  }

  .img img {
    height: 300px;
    margin: -130px;
  }

  .home-info h2 {
    font-size: 1.5em;
    padding-left: 20px;
  }

  .home-info h1 {
    font-size: 1.7em;
    line-height: 1;
    padding-left: 20px;
  }

  .home-info p {
    font-size: 1.1em;
    margin: 11px 0 20px;
    width: 100vw;
    padding-left: 20px;
  }
  .button {
    padding-left: 20px;
    margin-top: -25px;
  }
  .btn-1 {
    padding: 6px 18px;
    margin: 16px 0;
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 550;
    background-color: rgb(79, 10, 145);
    border: 2px solid transparent;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
  }
}

/* second page media query */

@media screen and (max-width: 767px) {
  .section-2 {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .about-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-info p {
    margin-top: 20px;
    padding: 0 10px;
  }
}
